adf-3prs-dev-ingestion/PartialArmTemplates/ArmTemplate_10_15_2021_16_0_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-3prs-dev-ingestion"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dev_fortegra_byod_cancellations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_dev_csv_BYODCancel_Fortegra",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/fortegra_byod_cancellations/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_BYODCancel_Fortegra",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call_la-3prs-dev-reissue-fortegra",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest_dev_csv_BYODCancel_Fortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-80.eastus.logic.azure.com:443/workflows/5c21c3afcc2448c5a638023694126a27/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JsDYoQkA5eY1Lzn0SuU8PyjCIfbN4w8VSsNZG31TUCs",
							"method": "POST"
						}
					}
				],
				"folder": {
					"name": "DEV"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dev_csv_BYODCancel_Fortegra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_fortegra_byod_cancellations')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_Fortegra_BYOD_Cancellations",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/fortegra_byod_cancellations/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_BYODCancel_Fortegra",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "PROD"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/prod_csv_BYODCancel_Fortegra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_BYODCancel_Fortegra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BYOD - Cancellations Report.csv",
						"folderPath": "fortegra_byod_cancellations/dev/01-upload",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_BYODCancel_Fortegra')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BYOD - Cancellations Report.csv",
						"folderPath": "fortegra_byod_cancellations/prod/01-upload",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_fortegra_byod_cancellations_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_prod_csv_BYODCancel_Fortegra",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/fortegra_byod_cancellations/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_BYODCancel_Fortegra",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call_la-3prs-dev-reissue-fortegra",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest_prod_csv_BYODCancel_Fortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-80.eastus.logic.azure.com:443/workflows/5c21c3afcc2448c5a638023694126a27/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JsDYoQkA5eY1Lzn0SuU8PyjCIfbN4w8VSsNZG31TUCs",
							"method": "POST"
						}
					}
				],
				"folder": {
					"name": "DEV"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/prod_csv_BYODCancel_Fortegra')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_register_policy_springboard')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_dev_csv_registerpolicy_springboard",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "Springboard_InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_registerpolicy_springboard",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_InForceRegister",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call_la-3prs-dev-bdx-trigger-group",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest_dev_csv_registerpolicy_springboard",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-93.eastus.logic.azure.com:443/workflows/edfa52ef63474ecc82b15114c3cb526c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DXYENllcJxT8Ss_L97FCPPuJr8nJA2lC0bWL8vtZDDw",
							"method": "POST"
						}
					}
				],
				"folder": {
					"name": "DEV"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dev_csv_registerpolicy_springboard')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_registerpolicy_springboard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "policy_register/prod/springboardbenefits",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_register_policy_springboard')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev_register_policy_springboard",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/policy_register/prod/springboardbenefits/",
					"ignoreEmptyBlobs": false,
					"scope": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dev_register_policy_springboard')]"
			]
		}
	]
}