adf-3prs-dev-ingestion/PartialArmTemplates/ArmTemplate_11_2_2021_8_41_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-3prs-dev-ingestion"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dev_cancel_policy_fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_dev_csv_cancelpolicy_byodfortegra",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/fortegra_byod_cancellations/dev/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call_la-3prs-dev-reissue-fortegra",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest_dev_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-80.eastus.logic.azure.com:443/workflows/5c21c3afcc2448c5a638023694126a27/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JsDYoQkA5eY1Lzn0SuU8PyjCIfbN4w8VSsNZG31TUCs",
							"method": "POST"
						}
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest_dev_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_cancelpolicy_fortegra_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete_dev_csv_cancelpolicy_byodfortegra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_to_failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "copy_to_failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest_dev_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_cancelpolicy_fortegra_failed",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "dev"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dev_csv_cancelpolicy_fortegrabyod')]",
				"[concat(variables('factoryId'), '/datasets/dev_csv_cancelpolicy_fortegra_processed')]",
				"[concat(variables('factoryId'), '/datasets/dev_csv_cancelpolicy_fortegra_failed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_cancel_policy_fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest_prod_csv_cancelpolicy_byodfortegra",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/fortegra_byod_cancellations/dev/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "Call_la-3prs-prod-reissue-fortegra",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest_prod_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-79.eastus.logic.azure.com:443/workflows/3351cc0895c046748e009d46fda3ced8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ReokLWalY0ARR4OQ06EZ7sOLTCeb2ME_9xByGkOFZ7g",
							"method": "POST"
						}
					},
					{
						"name": "copy_to_processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest_prod_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_cancelpolicy_fortegra_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete_prod_csv_cancelpolicy_byodfortegra",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy_to_processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy_to_failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "copy_to_failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest_prod_csv_cancelpolicy_byodfortegra",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_cancelpolicy_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_cancelpolicy_fortegra_failed",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "prod"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/prod_csv_cancelpolicy_fortegrabyod')]",
				"[concat(variables('factoryId'), '/datasets/prod_csv_cancelpolicy_fortegra_processed')]",
				"[concat(variables('factoryId'), '/datasets/prod_csv_cancelpolicy_fortegra_failed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_cancelpolicy_fortegra_failed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsfortegra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "concat('byod-cancellations-report-',@formatDateTime(utcnow(),'yyyyMMddhhmmss'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "dev/cancel-policy/03-failed/",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_cancelpolicy_fortegra_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsfortegra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "concat('byod-cancellations-report-',@formatDateTime(utcnow(),'yyyyMMddhhmmss'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "dev/cancel-policy/02-processed/",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_cancelpolicy_fortegrabyod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsfortegra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BYOD - Cancellations Report.csv",
						"folderPath": "dev/cancel-policy/01-upload/",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_registerpolicy_failed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/register_policy/03-failed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_registerpolicy_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/register_policy/02-processed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_registerpolicy_sandcreekoutfitters')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/register_policy/sandcreekoutfitters",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ReportDate",
						"type": "String"
					},
					{
						"name": "MasterAgreementID",
						"type": "String"
					},
					{
						"name": "ProgramID",
						"type": "String"
					},
					{
						"name": "CertificateNumber",
						"type": "String"
					},
					{
						"name": "ProductSKU",
						"type": "String"
					},
					{
						"name": "SubscriberFirst",
						"type": "String"
					},
					{
						"name": "SubscriberLast",
						"type": "String"
					},
					{
						"name": "SubscriberMiddle",
						"type": "String"
					},
					{
						"name": "SubscriberPrefix",
						"type": "String"
					},
					{
						"name": "SubscriberSuffix",
						"type": "String"
					},
					{
						"name": "SubscriberEmail",
						"type": "String"
					},
					{
						"name": "MailingAddress1",
						"type": "String"
					},
					{
						"name": "MailingAddress2",
						"type": "String"
					},
					{
						"name": "MailingCity",
						"type": "String"
					},
					{
						"name": "MailingStateCode",
						"type": "String"
					},
					{
						"name": "MailingPostalCode",
						"type": "String"
					},
					{
						"name": "CoveredDevicePhoneNumber",
						"type": "String"
					},
					{
						"name": "Pet1Name",
						"type": "String"
					},
					{
						"name": "Pet1Gender",
						"type": "String"
					},
					{
						"name": "Pet1Type",
						"type": "String"
					},
					{
						"name": "Pet1Breed",
						"type": "String"
					},
					{
						"name": "Pet1Age",
						"type": "String"
					},
					{
						"name": "Pet2Name",
						"type": "String"
					},
					{
						"name": "Pet2Gender",
						"type": "String"
					},
					{
						"name": "Pet2Type",
						"type": "String"
					},
					{
						"name": "Pet2Breed",
						"type": "String"
					},
					{
						"name": "Pet2Age",
						"type": "String"
					},
					{
						"name": "Pet3Name",
						"type": "String"
					},
					{
						"name": "Pet3Gender",
						"type": "String"
					},
					{
						"name": "Pet3Type",
						"type": "String"
					},
					{
						"name": "Pet3Breed",
						"type": "String"
					},
					{
						"name": "Pet3Age",
						"type": "String"
					},
					{
						"name": "EnrollmentDate",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_registerpolicy_springboard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/springboardbenefits"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/register_policy/springboardbenefits",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_cancelpolicy_fortegra_failed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "concat('byod-cancellations-report-',@formatDateTime(utcnow(),'yyyyMMddhhmmss'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "prod/cancel-policy/03-failed/",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_cancelpolicy_fortegra_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "concat('byod-cancellations-report-',@formatDateTime(utcnow(),'yyyyMMddhhmmss'),'.csv')",
							"type": "Expression"
						},
						"folderPath": "prod/cancel-policy/02-processed/",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_cancelpolicy_fortegrabyod')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsfortegra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/fortegra"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "BYOD - Cancellations Report.csv",
						"folderPath": "prod/cancel-policy/01-upload",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "Plan Number",
						"type": "String"
					},
					{
						"name": "Plan Name",
						"type": "String"
					},
					{
						"name": "Customer Name",
						"type": "String"
					},
					{
						"name": "Reference Number",
						"type": "String"
					},
					{
						"name": "Customer Address Line 1",
						"type": "String"
					},
					{
						"name": "Customer Address Line 2",
						"type": "String"
					},
					{
						"name": "Prop_6",
						"type": "String"
					},
					{
						"name": "City",
						"type": "String"
					},
					{
						"name": "State",
						"type": "String"
					},
					{
						"name": "PhoneNumber",
						"type": "String"
					},
					{
						"name": "Device  Model",
						"type": "String"
					},
					{
						"name": "Device Make",
						"type": "String"
					},
					{
						"name": "Device Serial Number",
						"type": "String"
					},
					{
						"name": "Purchase Price",
						"type": "String"
					},
					{
						"name": "Plan Start Date",
						"type": "String"
					},
					{
						"name": "Deactivation Date",
						"type": "String"
					},
					{
						"name": "Ran Diagnostic Test?",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_registerpolicy_springboard')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/springboardbenefits"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "register_policy/prod/springboardbenefits",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_dev_cancelpolicy_fortegrabyod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev_cancel_policy_fortegra_byod",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/dev/cancel-policy/01-upload/",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfortegra",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dev_cancel_policy_fortegra_byod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger_prod_cancel_policy_fortegrabyod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/prod/cancel-policy/01-upload/",
					"ignoreEmptyBlobs": true,
					"scope": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfortegra",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		}
	]
}