adf-3prs-dev-ingestion/PartialArmTemplates/ArmTemplate_11_2_2021_16_13_3.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-3prs-dev-ingestion"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dev-policy-cancel-fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/policy-cancel/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "call-logic-app-trigger",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-80.eastus.logic.azure.com:443/workflows/5c21c3afcc2448c5a638023694126a27/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=JsDYoQkA5eY1Lzn0SuU8PyjCIfbN4w8VSsNZG31TUCs",
							"method": "POST"
						}
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_cancel_fortegra_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_cancel_fortegra_failed",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "dev/fortegra"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev-policy-register-sandcreekoutfitters')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"description": "data ingestion for Sand Creek Outfitters",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "SandCreek_InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/policy-register/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_sandcreekoutfitters",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_InForceRegister",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_sandcreekoutfitters",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_sandcreekoutfitters",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_failed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_policy_register_sandcreekoutfitters",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"folder": {
					"name": "dev/outfitters"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "RegionalOneHealth_InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/policy-register/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_InForceRegister",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "call-logic-app-trigger",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-93.eastus.logic.azure.com:443/workflows/edfa52ef63474ecc82b15114c3cb526c/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=DXYENllcJxT8Ss_L97FCPPuJr8nJA2lC0bWL8vtZDDw",
							"method": "POST"
						}
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_failed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"folder": {
					"name": "dev/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-policy-cancel-fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/prod/policy-cancel/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "DateTime",
											"physicalType": "datetime2"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_BYODCancellations",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "call-logic-app-trigger",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-79.eastus.logic.azure.com:443/workflows/3351cc0895c046748e009d46fda3ced8/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=ReokLWalY0ARR4OQ06EZ7sOLTCeb2ME_9xByGkOFZ7g",
							"method": "POST"
						}
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegra_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer Address Line 2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device  Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device Serial Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan Start Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran Diagnostic Test?",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegra_failed",
								"type": "DatasetReference"
							}
						]
					}
				],
				"folder": {
					"name": "prod/fortegra"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "RegionalOneHealth_InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/prod/policy-register/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_InForceRegister",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "call-logic-app-trigger",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": "https://prod-38.eastus.logic.azure.com:443/workflows/505214a3a44341cea9c2874d7b693abc/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=bRielwRA_HLXXbxmPIGyxrN4vDROTSFj0G4AktHxhgU",
							"method": "POST"
						}
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_failed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"folder": {
					"name": "prod/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-dev-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev-policy-register-springboard-regionalonehealth",
							"type": "PipelineReference"
						}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/dev/policy-register/springboardbenefits/RegionalOneHealth/",
					"ignoreEmptyBlobs": false,
					"scope": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dev-policy-register-springboard-regionalonehealth')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev-reports-enrollment-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/reports-enrollment/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_Enrollments",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_processed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_failed",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "delete-original-file",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference"
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"folder": {
					"name": "dev/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dev_csv_reports_enrollment_springboard_regionalonehealth')]",
				"[concat(variables('factoryId'), '/datasets/dev_stage_Enrollments')]",
				"[concat(variables('factoryId'), '/datasets/dev_csv_reports_enrollment_processed')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_reports_enrollment_springboard_regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/springboardbenefits"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/reports-enrollment/springboardbenefits/RegionalOneHealth",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_reports_enrollment_springboard_regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/springboardbenefits"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "prod/reports-enrollment/springboardbenefits/RegionalOneHealth",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_reports_enrollment_failed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/auditing"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "prod/reports-enrollment/03-failed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_csv_reports_enrollment_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/prod/auditing"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "prod/reports-enrollment/02-processed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_reports_enrollment_failed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/auditing"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/reports-enrollment/03-failed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_csv_reports_enrollment_processed')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage1",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "csv_files/dev/auditing"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": "dev/reports-enrollment/02-processed",
						"container": "csvfiles"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev_stage_Enrollments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsDevODS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sql_tables/dev"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ReportDate",
						"type": "nvarchar"
					},
					{
						"name": "MasterAgreementID",
						"type": "nvarchar"
					},
					{
						"name": "ProgramID",
						"type": "nvarchar"
					},
					{
						"name": "CertificateNumber",
						"type": "nvarchar"
					},
					{
						"name": "ProductSKU",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberFirst",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberLast",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberMiddle",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberPrefix",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberSuffix",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberEmail",
						"type": "nvarchar"
					},
					{
						"name": "MailingAddress1",
						"type": "nvarchar"
					},
					{
						"name": "MailingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "MailingCity",
						"type": "nvarchar"
					},
					{
						"name": "MailingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "MailingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "CoveredDevicePhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Age",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Age",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Age",
						"type": "nvarchar"
					},
					{
						"name": "EnrollmentDate",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "Enrollments"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod_stage_Enrollments')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "3prsProdODS",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "sql_tables/prod"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ReportDate",
						"type": "nvarchar"
					},
					{
						"name": "MasterAgreementID",
						"type": "nvarchar"
					},
					{
						"name": "ProgramID",
						"type": "nvarchar"
					},
					{
						"name": "CertificateNumber",
						"type": "nvarchar"
					},
					{
						"name": "ProductSKU",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberFirst",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberLast",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberMiddle",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberPrefix",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberSuffix",
						"type": "nvarchar"
					},
					{
						"name": "SubscriberEmail",
						"type": "nvarchar"
					},
					{
						"name": "MailingAddress1",
						"type": "nvarchar"
					},
					{
						"name": "MailingAddress2",
						"type": "nvarchar"
					},
					{
						"name": "MailingCity",
						"type": "nvarchar"
					},
					{
						"name": "MailingStateCode",
						"type": "nvarchar"
					},
					{
						"name": "MailingPostalCode",
						"type": "nvarchar"
					},
					{
						"name": "CoveredDevicePhoneNumber",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet1Age",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet2Age",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Name",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Gender",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Type",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Breed",
						"type": "nvarchar"
					},
					{
						"name": "Pet3Age",
						"type": "nvarchar"
					},
					{
						"name": "EnrollmentDate",
						"type": "nvarchar"
					}
				],
				"typeProperties": {
					"schema": "stage",
					"table": "Enrollments"
				}
			},
			"dependsOn": []
		}
	]
}