adf-3prs-dev-ingestion/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-3prs-dev-ingestion"
		},
		"trigger-dev-policy-register-sandcreekoutfitters_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		},
		"trigger-dev-policy-register-springboard-regionalonehealth_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		},
		"trigger-dev-policy-reissue-fortegra_byod_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfortegra"
		},
		"trigger-prod-policy-register-maxwellhealth-robinhealthcare_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		},
		"trigger-prod-policy-register-springboard-regionalonehealth_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		},
		"trigger-prod-policy-reissue-fortegra_byod_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfortegra"
		},
		"trigger-prod-reports-enrollment-maxwellhealth-robinhealthcare_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		},
		"trigger-prod-reports-enrollment-springboard-regionalonehealth_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/dd41f8f4-7805-4ceb-a22b-864ca2689509/resourceGroups/rg-3prs-dev-sql/providers/Microsoft.Storage/storageAccounts/3prsfileupload"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/dev-reports-enrollment-maxwellhealth-robinhealthcare')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/reports-enrollment/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_Enrollments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "dev/maxwellhealth"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dev-reports-enrollment-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/reports-enrollment/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_Enrollments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_csv_policy_register_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dev_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "dev/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-policy-register-maxwellhealth-robinhealthcare')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/policy-register/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_InForceRegister",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_register_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_register_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "prod/maxwellhealth"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/prod/policy-register/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_InForceRegister",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*InForceRegister*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_register_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_register_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "prod/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-policy-reissue-fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"description": "data ingestion for Fortegra BYOD Cancellations report",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "Source",
								"value": "csvfiles/policy_register/sandcreekoutfitters/EPP_InForceRegister_2022-03-01.csv"
							},
							{
								"name": "Destination",
								"value": "stage.EPP_InForceRegister"
							}
						],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "BYOD - Cancellations Report*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": true,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/prod/policy-cancel/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ReferenceNumber1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Reference_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Address_Line_2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Contact_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Device_SN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Serial_Number",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Deactivation_Date",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "RanDiagnosticTest",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Ran_Diagnostic_Test",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false,
									"dateTimeFormat": "\"yyyy-MM-dd HH:mm:ss.fff\""
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_BYODCancellations",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "call-logic-app-trigger",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "delete-original-file-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [
							{
								"name": "LogicAppName",
								"value": "la-3prs-prod-reissue-fortegra"
							}
						],
						"typeProperties": {
							"url": "https://prod-87.eastus.logic.azure.com:443/workflows/86f3fd29904640979f1cfa348069d7c4/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=k8kKG4gTdekZon2_yYPKFXt3Kb9ozixjRzAZsXweYJw",
							"method": "POST",
							"headers": {},
							"body": {}
						}
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "BYOD - Cancellations Report*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReferenceNumber1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReferenceNumber1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contact_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_SN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_SN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RanDiagnosticTest",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RanDiagnosticTest",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegra_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "BYOD - Cancellations Report*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Customer_Name",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ReferenceNumber1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReferenceNumber1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address_1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_1",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Address_2",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "City",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "State",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Contact_Number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Contact_Number",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Model",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_Make",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Device_SN",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Device_SN",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Purchase_Price",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Plan_Start_Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Cancel_Date",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "RanDiagnosticTest",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RanDiagnosticTest",
											"type": "String",
											"physicalType": "String"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_policy_cancel_fortegra_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_policy_cancel_fortegrabyod",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "prod/fortegra"
				},
				"annotations": [],
				"lastPublishTime": "2021-07-27T12:56:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-reports-enrollment-maxwellhealth-robinhealthcare')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/dev/reports-enrollment/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_Enrollments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_reports_enrollment_maxwellhealth_robinhealthcare",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "prod/maxwellhealth"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/prod-reports-enrollment-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ingest-to-database",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"disableMetricsCollection": false,
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"logSettings": {
								"enableCopyActivityLog": true,
								"copyActivityLogSettings": {
									"logLevel": "Warning",
									"enableReliableLogging": false
								},
								"logLocationSettings": {
									"linkedServiceName": {
										"referenceName": "AzureBlobStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "csvfiles/prod/reports-enrollment/00-logging"
								}
							},
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_stage_Enrollments",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-processed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_processed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy-to-failed",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "ingest-to-database",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*Enrollment*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "prod_csv_reports_enrollment_failed",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "delete-original-file-processed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-processed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "delete-original-file-failed",
						"type": "Delete",
						"dependsOn": [
							{
								"activity": "copy-to-failed",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "prod_csv_reports_enrollment_springboard_regionalonehealth",
								"type": "DatasetReference",
								"parameters": {}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobStorageReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"concurrency": 1,
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "prod/springboardbenefits"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/test_ingestion')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "test_csv_ingestion",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"validateDataConsistency": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ReportDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MasterAgreementID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProgramID",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CertificateNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ProductSKU",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberFirst",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberLast",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberMiddle",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberPrefix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberSuffix",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SubscriberEmail",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress1",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingAddress2",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingCity",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingStateCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MailingPostalCode",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CoveredDevicePhoneNumber",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet1Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet2Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Name",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Gender",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Type",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Breed",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Pet3Age",
											"type": "String",
											"physicalType": "nvarchar"
										}
									},
									{
										"source": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "EnrollmentDate",
											"type": "String",
											"physicalType": "nvarchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "test_csv_file_1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "dev_stage_InForceRegister",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "test"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-dev-policy-register-sandcreekoutfitters')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev-policy-register-sandcreekoutfitters",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/dev/policy-register/sandcreekoutfitters/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-dev-policy-register-sandcreekoutfitters_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-dev-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev-policy-register-springboard-regionalonehealth",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/dev/policy-register/springboardbenefits/RegionalOneHealth/",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('trigger-dev-policy-register-springboard-regionalonehealth_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-dev-policy-reissue-fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev-policy-reissue-fortegra_byod",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/dev/blobs/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-dev-policy-reissue-fortegra_byod_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-prod-policy-register-maxwellhealth-robinhealthcare')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "prod-policy-register-maxwellhealth-robinhealthcare",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/prod/policy-register/maxwellhealth/RobinHealthcare/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-prod-policy-register-maxwellhealth-robinhealthcare_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/prod-policy-register-maxwellhealth-robinhealthcare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-prod-policy-register-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "prod-policy-register-springboard-regionalonehealth",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/prod/policy-register/springboardbenefits/RegionalOneHealth/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-prod-policy-register-springboard-regionalonehealth_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/prod-policy-register-springboard-regionalonehealth')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-prod-policy-reissue-fortegra_byod')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "prod-policy-reissue-fortegra_byod",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/prod/blobs/",
					"ignoreEmptyBlobs": false,
					"scope": "[parameters('trigger-prod-policy-reissue-fortegra_byod_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/prod-policy-reissue-fortegra_byod')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-prod-reports-enrollment-maxwellhealth-robinhealthcare')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "prod-reports-enrollment-maxwellhealth-robinhealthcare",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/prod/reports-enrollment/maxwellhealth/RobinHealthcare/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-prod-reports-enrollment-maxwellhealth-robinhealthcare_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/prod-reports-enrollment-maxwellhealth-robinhealthcare')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/trigger-prod-reports-enrollment-springboard-regionalonehealth')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "dev-reports-enrollment-springboard-regionalonehealth",
							"type": "PipelineReference"
						},
						"parameters": {}
					},
					{
						"pipelineReference": {
							"referenceName": "prod-reports-enrollment-springboard-regionalonehealth",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/csvfiles/blobs/prod/reports-enrollment/springboardbenefits/RegionalOneHealth/",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('trigger-prod-reports-enrollment-springboard-regionalonehealth_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/dev-reports-enrollment-springboard-regionalonehealth')]",
				"[concat(variables('factoryId'), '/pipelines/prod-reports-enrollment-springboard-regionalonehealth')]"
			]
		}
	]
}